extends layout.pug

block content
  h2= title
  if g.user
    if endpoint === 'user'
      .followstatus
        if g.user.user_id === profile_user.user_id
          | This is you!
        else if followed
          | You are currently following this user.
          a.unfollow(href=`${profile_user}/unfollow`)
            | Unfollow user
        else
          | You are not yet following this user.
          a.follow(href=`${profile_user}/follow`)
            | Follow user
    else if endpoint === 'timeline'
      .twitbox
        h3 What's on your mind #{g.user.username}?
        form(action='/add_message', method='post')
          p
            input(type='text', name='text', size='60')
            input(type='submit', value='Share')
  ul.messages
    if messages && messages.length > 0
      each message in messages
        li
          img(src=message.gravatar)
          p
            strong
              a(href=`${message.username}`)
                | #{message.username}
            | #{message.text}
            small &mdash; #{message.pub_date}
    else
      li
        em There's no message so far.
