extends layout

block content
  h2= title
  if g.user.id
    if endpoint === 'user'
      .followstatus
        if g.user.id === profile_user.user.id
          | This is you!
        else if followed
          | You are currently following this user.
          a.unfollow(href=`${profile_user.user.username}/unfollow`)
            | Unfollow user
        else
          | You are not yet following this user.
          a.follow(href=`${profile_user.user.username}/follow`)
            | Follow user
    else if endpoint === 'timeline'
      .twitbox
        h3 What's on your mind #{g.user.username}?
        form(action='/add_message', method='post')
          p
            input(type='text', name='text', size='60')
            input(type='submit', value='Share')
  ul.messages
    if messages && messages.length > 0
      each message in messages
        li
          img(src=message.gravatar)
          p
            strong
              a(href=`${message.username}`)
                | #{message.username}
            | #{message.text}
            small &mdash; #{message.pub_date}
    else
      li
        em There's no message so far.

  if pagination.totalPages > 1
  .pagination
    .pagination-btn
      // first page link
      if pagination.page > 1
        a(href="?page=1") <<
        if pagination.page > 1
          span
      // prev page link
      if pagination.page > 1
        a(href=`?page=${pagination.page - 1}`) <

      - var startPage = Math.max(1, pagination.page - 4)
      - var endPage = Math.min(pagination.totalPages, pagination.page + 4)
      
    .pagination-numbers
      // page number links
      - var i = startPage;
      while i <= endPage
        if i === pagination.page
          span.current= i
        else
          a(href=`?page=${i}`)= i
        - i++;
    .pagination-btn
      // next page link
      if pagination.page < pagination.totalPages
        a(href=`?page=${pagination.page + 1}`) >

      // last page link
      if pagination.page < pagination.totalPages - 4
        if pagination.page < pagination.totalPages - 5
          span
        a(href=`?page=${pagination.totalPages}`) >>
